:root {
    --general-color: #141414;
    --general-color-2: #ffffff;
    --accent-text: #979797;
    --accent-color: #f47521;
    --transition: all .4s;
}

.footer__inner {
    padding: 63px 0 140px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 75px;
    gap: 15px 30px;
}

.footer__title {
    position: relative;
    /* cursor: pointer; */
    color: var(--general-color-2);
    font-family: "Oswald";
    font-size: 50.27px;
    font-weight: 500;
    line-height: 1;

    transition: var(--transition);
}

.footer__title::after {
    content: '';
    position: absolute;
    left: -33px;
    top: -9px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--accent-color);
    z-index: -1;
    opacity: 0;

    transition: var(--transition);
}

.footer__title:hover::after {
    opacity: 1;
}

.footer__content {
    margin-top: 101px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer__contact address {
    color: var(--general-color-2);
    font-family: "Oswald";
    font-size: 42px;
    line-height: 1;
    margin-bottom: 47px;
}

.footer__subject {
    color: #a6a6a6;
    font-family: "Archivo";
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
}

.footer__contact-email {
    display: block;
    margin-bottom: -24px;
    transition: var(--transition);
}
.footer__contact-email:hover {
    color: var(--accent-color);
}

.footer__contact-tel {
    display: block;
    transition: var(--transition);
}
.footer__contact-tel:hover {
    color: var(--accent-color);
}

.socials {
    cursor: pointer;
    margin-top: 24px;
    display: flex;
    gap: 45px;
    width: 20px;
    height: 20px;
}

.socials__facebook:hover path{
    fill: var(--accent-color);
    transition: var(--transition);
}

.socials__twitter:hover path{
    fill: var(--accent-color);
    transition: var(--transition);
}

.socials__instagram:hover path{
    fill: var(--accent-color);
    transition: var(--transition);
}

.footer__info {
    display: flex;
    gap: 168px;
}

.footer__col-subject {
    margin-bottom: 24px;
}

.footer__col-subtitle {
    color: var(--general-color-2);
    font-family: "Oswald";
    font-size: 42px;
    line-height: 1;
    margin-bottom: 10px;
}

.footer__col-text {
    color: rgba(166, 166, 166, 1);

    font-family: "Archivo";
    font-size: 20px;
    line-height: 1;
    margin-bottom: 31px;
}
.footer__col-text:last-child {
    margin-bottom: 0;
}

.footer__bottom {
    background: #303030;
}

.footer__bottom-inner {
    height: 88px;
    display: flex;
    align-items: center;
}

.footer__bottom-text {
    color: var(--general-color-2);
    opacity: 0.6;
    color: var(--general-color-2);
    font-family: "Archivo";
    line-height: 1.9;
}